altgraph==0.17.4
asgiref==3.8.1
certifi==2025.8.3
charset-normalizer==3.4.3
Django==3.2
idna==3.10
mysql-connector-python==9.4.0
mysqlclient==2.2.7
packaging==25.0
pefile==2023.2.7
psycopg2-binary==2.9.10
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyMySQL==1.1.0
pyodbc==5.2.0
python-decouple==3.8
python-dotenv==1.1.0
pytz==2025.2
pywin32-ctypes==0.2.3
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
Django>=4.2.0
pymysql>=1.1.0
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
requests>=2.31.0